* {
    outline: 0px dashed black;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    height: 100%;
    color: #505050;
}

#main-content {
    width: 420px;
    margin: 2em auto;
    padding: 2em;
    background-color: rgb(255,255,255);
}

h1 {
    font-size: 2em;
    margin: 10px 10px 30px 10px;
}

h2 {
    font-size: 1em;
    text-align: center;
    margin: 0.3em;
    padding: 0.3em 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

p {
    text-align: center;
    margin: 15px;
}

#q1, #q2, #q3, #q4 {
    display: inline;
    float: left;
    width: 100px;
    margin-bottom: 30px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#q4 {
    border-right: 1px solid #ccc;
}

#instructions {
    line-height: 15pt;
    margin: 10px 0;
    padding-left: 10px;
    font-size: 0.8em;
    font-style: italic;
}